<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ie.fran.fyp"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Focus.services.ServiceStarterApplication"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:icon="@drawable/ic_launcher"
        android:label="@string/StudyAid"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">

        <activity android:name=".Settings.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/login"/>
        <activity android:name=".Settings.Settings_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Settings.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/login"/>

        <activity android:name=".Planner.Thursday.AddThursday"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" >
        </activity>
        <activity android:name=".Planner.Sunday.AddSunday"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />
        <activity android:name=".Planner.Saturday.AddSaturday"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />
        <activity android:name=".Planner.Friday.AddFriday"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />
        <activity android:name=".Planner.Wednesday.AddWednesday"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />
        <activity android:name=".Planner.Tuesday.AddTaskTuesday"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />
        <activity android:name=".Planner.Sunday.Sunday"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />
        <activity android:name=".Planner.Saturday.Saturday"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />
        <activity android:name=".Planner.Friday.Friday"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />
        <activity android:name=".Planner.Thursday.Thursday"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />
        <activity android:name=".Planner.Wednesday.Wednesday"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />
        <activity android:name=".Planner.Tuesday.Tuesday"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />

        <activity android:name=".Flashcards.FlashcardsMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFlashCards" />
        <activity android:name=".Flashcards.AddDeckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFlashCards" />
        <activity android:name=".Flashcards.ViewCardsActivity"
            android:theme="@style/ThemeFlashCards" />


        <activity
            android:name=".Planner.Monday.AddTask"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />
        <activity
            android:name=".Planner.Monday.Monday"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />
        <activity
            android:name=".Planner.Planner_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemePlanner" />
        <activity
            android:name=".Notes.NewNote"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeNote" />
        <activity android:name=".Users.login" />
        <activity android:name=".Users.SignUp" />
        <activity
            android:name=".ToDo.ToDo_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeToDo" />
        <activity
            android:name=".ToDo.NewTaskAct"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeToDo" />
        <activity
            android:name=".Scanner_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeScanner" />
        <activity
            android:name=".Notes.Note_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeNote" />
        <activity
            android:name=".Focus.Focus_On_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFocusOn" />

        <activity android:name=".Focus.services.Redirect"
            android:screenOrientation="portrait"/>

        <service
            android:name=".Focus.services.RedirectService"
            android:screenOrientation="portrait"
            android:enabled="true"
            android:process=":AppBlockerService"
            android:stopWithTask="false" />

        <receiver android:name=".Focus.services.PhoneBootReciever"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:screenOrientation="portrait"
            android:name=".Dashboard"
            android:label="StudyAid"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service android:name="com.google.firebase.components.ComponentDiscoveryService" />

        <meta-data
            android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
            android:value="com.google.firebase.components.ComponentRegistrar" />
        <meta-data
            android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
            android:value="com.google.firebase.components.ComponentRegistrar" />
        <meta-data
            android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
            android:value="com.google.firebase.components.ComponentRegistrar" />

        <service
            android:name=".Focus.Block_All_Notification"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>